<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <!-- File picks and the optional library folder use the Storage Access
         Framework. App-private working copies need no broad storage permission. -->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name=".PonyWallpaper"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <service
            android:name=".PonyDreamService"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream" />
        </service>

        <activity
            android:name=".Settings"
            android:label="@string/app_settings_name"
            android:exported="true"
            android:theme="@style/Theme.PonyPaper.Settings"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dream user-exit trampoline: requestDismissKeyguard needs an Activity. -->
        <activity
            android:name=".UnlockRequestActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.PonyPaper.UnlockRequest"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <!-- Dream idle-sleep trampoline: some OEMs ignore lockNow from TYPE_DREAM. -->
        <activity
            android:name=".SleepRequestActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.PonyPaper.UnlockRequest"
            android:showWhenLocked="true"
            android:turnScreenOn="false" />

        <receiver
            android:name=".SleepAdminReceiver"
            android:label="@string/pref_dream_device_admin_title"
            android:description="@string/pref_dream_device_admin_explanation"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
